{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jquery": true
	},
	"globals": {
		"PageBase": false,
		"DeferredQuery": false,
		"clazz": false,
		"T": false,
		"layui": false,
		"layer": false,
		"moment":false,
		"WeatherMap": false,
		"DateSelecter": false,
		"webRootName": false
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": false
		},
		"sourceType": "module"
	},
	"rules": {
		"no-debugger": "warn",
		"no-alert": "warn",
		"no-const-assign": "warn",
		"no-this-before-super": "warn",
		"no-undef": "warn",
		"no-unreachable": "warn",
		"no-unused-vars": "warn",
		"constructor-super": "warn",
		"valid-typeof": "warn"
			// "quotes": [2, "single"]
	}
}
